.navigation{display: flex;
    justify-content: space-around;
/* background-color: rgb(151, 234, 234); */
}
:active{

}

header{
    background-image: url(../images/rlcexpeditbackground.jpeg);
    height: 300px;;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.cname{
    /* font-family: 'Courier New', Courier, monospace; */
    font-style: italic;
}
.h4{
    border-color: aqua;
    
}
.quote{
    padding: 1ch; background-color: aquamarine; 
    text-align: center;
}
.navpara{

}
.ourservice{
    text-align: center;
}
.service{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.about{
    text-align: center;
}
.aboutus{
    display: flex;
    gap: 20px;
}
.image1{
    width: 30%;
    height: 400px;
    border-style: outset;
    border-color: rgb(138, 150, 150);
   padding-top: 2px;
}
.image2{
    width: 30%;
    height: 400px;
}
.image3{
    width: 30%;
    height: 400px;
}
.choose{
    display: flex;
    gap: 30px;
}
.track{
    display: flex;
    gap: 20px;
    
}